<div class="view-inner {{area}}">


    <div class="header">
        <div class="header-main">
            <div class="header-title no-icon">Omvandla</div>
            <div class="header-icon right primary search-button"><i class="fal fa-search"></i></div>
        </div>
    </div>


    <div class="view-main">

        <div class="view-sujbect">Vad vill du omvandla?</div>

        
        <div>
            <div class="list-item" link="exchange/units">
                <div class="list-item-icon primary"><i class="fas fa-globe-europe"></i></div>
                <div class="list-item-content">
                    <div class="list-item-title">Internationella enheter</div>
                    <div class="list-item-description">T.ex hur många dl är en cup?</div>
                </div>
            </div>

            <div class="list-item" link="exchange/volume">
                <div class="list-item-icon primary"><i class="fas fa-balance-scale-right"></i></div>
                <div class="list-item-content">
                    <div class="list-item-title">Vikt och volym</div>
                    <div class="list-item-description">T.ex. hur mycket väger en dl mjöl?</div>
                </div>
            </div>

            <div class="list-item" link="exchange/temp/fahrenheit">
                <div class="list-item-icon primary"><i class="fas fa-oil-temp"></i></div>
                <div class="list-item-content">
                    <div class="list-item-title">Temperatur</div>
                    <div class="list-item-description">T.ex. hur många farenheight är 10 celsius?</div>
                </div>
            </div>                        

        </div>


    </div>

</div>

