<div class="view-inner {{area}}">


    <div class="header">
        <div class="header-main">
            <div class="header-title no-icon">Fakta</div>
            <div class="header-icon right primary search-button"><i class="fal fa-search"></i></div>
        </div>
    </div>


    <div class="view-main">

        <div class="view-sujbect">Vad vill du veta mer om?</div>

        
        <div>
            <div class="list-item" link="facts/inner">
                <div class="list-item-icon primary"><i class="fas fa-thermometer-half"></i></div>
                <div class="list-item-content">
                    <div class="list-item-title">Innertemperaturer</div>
                    <div class="list-item-description">Vilken temperatur ska råvaran ha när den är klar?</div>
                </div>
            </div>

            <div class="list-item" link="facts/sous-vide">
                <div class="list-item-icon primary"><i class="fas fa-water"></i></div>
                <div class="list-item-content">
                    <div class="list-item-title">Sous-vide</div>
                    <div class="list-item-description">Vilken temperatur ska råvaran tillagas i och vilken tid är optimal?</div>
                </div>
            </div>

            <div class="list-item" link="facts/kcal">
                <div class="list-item-icon primary"><i class="fas fa-fire"></i></div>
                <div class="list-item-content">
                    <div class="list-item-title">Kalorier</div>
                    <div class="list-item-description">Hur många kalorier innehåller livsmedlet?</div>
                </div>
            </div>                        

        </div>


    </div>

</div>

