{{#each results}}

     <div class="serach-result-item {{area}}" link="{{url}}">
        <i class="{{icon}} primary search-result-icon" ></i>
        <div class="search-result-title">{{name}}</div>
    </div>


{{/each}}
