<div class="view-inner {{area}}">


    <div class="header">
        <div class="header-main">
            <div class="header-title no-icon">Verktyg</div>
            <div class="header-icon right primary search-button"><i class="fal fa-search"></i></div>
        </div>
    </div>


    <div class="view-main">

        <div class="view-sujbect">Vilket verktyg vill du använda?</div>

        
        <div>
            <div class="list-item" link="tools/timers">
                <div class="list-item-icon primary"><i class="fas fa-hourglass-half"></i></div>
                <div class="list-item-content">
                    <div class="list-item-title">Timer</div>
                    <div class="list-item-description">Ställ en timer eller skapa en nedräkning.</div>
                </div>
            </div>

        </div>


    </div>

</div>

